body, html, ul, li, p, input, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

i {
  font-style: normal; }

a {
  color: inherit;
  text-decoration: none;
  outline: none; }

iframe {
  display: block; }

body, html {
  height: 100%;
  font: 12px/1.5 Microsoft Yahei,tahoma,sans-serif;
  color: #333; }

body {
  height: 100%;
  color: #333;
  overflow-y: auto;
  overflow-x: hidden; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: content-box; }

iframe {
  display: block;
  border: none;
  width: 100%; }

li, a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

.minwh {
  min-width: 1024px; }

.mainpage {
  position: relative;
  height: 100%;
  overflow: hidden; }

.left-nav-bar {
  padding: 0 0 8px 0;
  width: 259px; }
  .left-nav-bar li {
    position: relative; }
    .left-nav-bar li + li {
      margin-top: 1px; }
      .left-nav-bar li + li:after {
        content: "";
        position: absolute;
        top: -1px;
        left: 8px;
        right: 28px;
        height: 1px;
        background: #333; }
  .left-nav-bar .left-nav-bar-sub li:after {
    background: #232325; }
  .left-nav-bar .open .left-nav-bar-sub {
    display: block;
    transition: .2s background; }
  .left-nav-bar .open .link {
    color: #459245; }
  .left-nav-bar .open .fa {
    left: 12px;
    margin-top: -4px;
    border-width: 8px 6px 0;
    border-color: #459245 transparent transparent;
    animation: faanimation .2s ease-out forwards; }
  .left-nav-bar .open .link:hover .fa {
    border-color: #459245 transparent transparent; }
  .left-nav-bar .open + li {
    margin-top: 0; }
    .left-nav-bar .open + li:after {
      content: none; }
  .left-nav-bar .link, .left-nav-bar a {
    display: block;
    padding: 0 3px 0 32px;
    line-height: 48px;
    color: #fff;
    font-size: 19px;
    cursor: pointer; }
    .left-nav-bar .link:hover, .left-nav-bar a:hover {
      color: #459245; }
  .left-nav-bar a {
    font-size: 16px;
    line-height: 36px; }
  .left-nav-bar .sel, .left-nav-bar .sel:hover {
    background: #276327;
    color: #fff; }
  .left-nav-bar .link {
    position: relative;
    transition: .1s all;
    letter-spacing: 2px; }
    .left-nav-bar .link:hover .fa {
      border-color: transparent transparent transparent #459245; }
  .left-nav-bar .fa {
    position: absolute;
    left: 14px;
    top: 50%;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    transform-origin: center;
    margin-top: -6px;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #fff; }

.left-nav-bar-sub {
  display: none;
  background: #333; }

.len .left-nav-bar .link, .len .left-nav-bar a {
  white-space: nowrap; }
.len .left-nav-bar a {
  font-size: 14px; }
.len .left-nav-bar .link {
  letter-spacing: 0; }

@keyframes faanimation {
  0% {
    left: 14px;
    margin-top: -6px;
    border-color: transparent transparent transparent #459245;
    border-width: 6px 0 6px 8px;
    transform: rotate(0deg); }
  50% {
    transform: rotate(60deg); }
  100% {
    left: 14px;
    margin-top: -6px;
    border-color: transparent transparent transparent #459245;
    border-width: 6px 0 6px 8px;
    transform: rotate(90deg); } }
@keyframes sfaanimation {
  0% {
    margin-top: -4px;
    left: 17px;
    border-color: transparent transparent transparent #459245;
    border-width: 4px 0 4px 6px; }
  50% {
    transform: rotate(60deg); }
  100% {
    left: 17px;
    margin-top: -4px;
    border-color: transparent transparent transparent #459245;
    border-width: 4px 0 4px 6px;
    transform: rotate(90deg); } }
.menuslide {
  position: fixed;
  width: 239px;
  height: 100%;
  background: #232325;
  overflow: hidden; }
  .menuslide .logo-wap {
    display: block;
    height: 120px;
    background: url(../images/Logo_Gicren_CN.png) center no-repeat #276327; }

.len .menuslide .logo-wap {
  background-image: url(../images/Logo_Gicren_EN.png); }

.menuslide .logo-wap, .menu-wap, .menuslide .menu-bottom-wap {
  position: absolute;
  left: 0;
  right: 0; }

.menu-wap {
  top: 125px;
  bottom: 91px;
  right: -20px;
  overflow-x: hidden;
  overflow-y: auto; }

.menu-bottom-wap {
  position: absolute;
  bottom: 0;
  padding: 5px 0 0; }
  .menu-bottom-wap:before {
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    content: "";
    background: #3a3a3a;
    height: 1px; }
  .menu-bottom-wap .menu-bottom-text {
    color: #eee;
    padding-top: 4px;
    font-size: 12px;
    text-align: center; }

.menu-bottom-links {
  word-spacing: -4px; }
  .menu-bottom-links .item-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 33%;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 4px; }
    .menu-bottom-links .item-link:hover {
      color: #459245; }
    .menu-bottom-links .item-link + .item-link:before {
      position: absolute;
      content: "";
      left: -1px;
      top: 25%;
      height: 50%;
      width: 2px;
      background: #3a3a3a; }

.menu-bottom-wap .seach-wap {
  position: relative;
  border-radius: 32px;
  margin: 4px 10px 0 8px;
  height: 24px;
  background: #333;
  padding: 2px 50px 2px 12px; }
  .menu-bottom-wap .seach-wap:hover {
    background: #3a3a3a; }
  .menu-bottom-wap .seach-wap .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 18px;
    width: 16px;
    height: 16px;
    padding: 5px 12px 3px;
    cursor: pointer;
    overflow: hidden; }
    .menu-bottom-wap .seach-wap .btn-search:after {
      content: "";
      display: block;
      color: #fff;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAxNCI+CiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEzLjggMTMuOGMtLjMuMy0uNy4zLTEgMGwtMy40LTMuNGMtMi4zIDEuOC01LjYgMS42LTcuNy0uNUMtLjYgNy42LS42IDQgMS43IDEuN3M1LjktMi4zIDguMiAwYzIuMSAyLjEgMi4yIDUuNC41IDcuNmwzLjQgMy40Yy4zLjQuMy44IDAgMS4xek04LjkgMi43QzcuMiAxIDQuNSAxIDIuOCAyLjdzLTEuNyA0LjQgMCA2LjJjMS43IDEuNyA0LjQgMS43IDYuMSAwIDEuNi0xLjcgMS42LTQuNSAwLTYuMnoiLz4KPC9zdmc+Cg==);
      width: 16px;
      height: 16px;
      background-size: 16px 16px; }
    .menu-bottom-wap .seach-wap .btn-search:hover:after {
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAxNCI+CiAgPHBhdGggZmlsbD0iIzAwYmUwNiIgZD0iTTEzLjggMTMuOGMtLjMuMy0uNy4zLTEgMGwtMy40LTMuNGMtMi4zIDEuOC01LjYgMS42LTcuNy0uNUMtLjYgNy42LS42IDQgMS43IDEuN3M1LjktMi4zIDguMiAwYzIuMSAyLjEgMi4yIDUuNC41IDcuNmwzLjQgMy40Yy4zLjQuMy44IDAgMS4xek04LjkgMi43QzcuMiAxIDQuNSAxIDIuOCAyLjdzLTEuNyA0LjQgMCA2LjJjMS43IDEuNyA0LjQgMS43IDYuMSAwIDEuNi0xLjcgMS42LTQuNSAwLTYuMnoiLz4KPC9zdmc+Cg==); }

.seach-wap .seach-input {
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  width: 100%;
  color: #fff; }

.maincon {
  height: 100%;
  margin-left: 239px;
  background: #f5f5f5; }
  .maincon .pdfiframe {
    height: 100%;
    background: #fff; }
