@media only screen and (max-width: 768px) {
    .menuslide {
        display: none;
    }

    .maincon {
        margin-left: 0;
    }

    .ph-head {
        display: block;
    }

    .menu-show-wap {
        .ph-head {
            .menu-toggle {
                .line {
                    display: none;
                }

                &:before {
                    width: 48*$px;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);



                }

                &:after {
                    width: 48*$px;
                    top: 50%;
                    bottom: 0;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        .menuslide {
            display: block;
            top: $phhead-height;
            width: 100%;
            bottom: 0;
            height: auto;

            .logo-wap {
                display: none;
            }
        }

        .menu-wap {
            top: 0;
            bottom: 104*$px;
        }

        .left-nav-bar {
            // padding: 16*$px 0;
            padding: 0;

            .link, a {
                font-size: 42*$px;
                line-height: 108*$px;
            }

            .fa {
                right: 52*$px;
                left: auto;
                width: 18*$px;
                height: 30*$px;
                top: 50%;
                background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i5Zu+5bGCXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEyIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMTIgMjAiPjxzdHlsZT4uc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I2ZmZjt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTIgMTBsLTkuOSA5LjktMS40LTEuNEw5LjIgMTAgLjcgMS41IDIuMS4xbDguNSA4LjVMMTIgMTB6Ii8+PC9zdmc+") no-repeat center;
                background-size: 100%;
                transform: translate(0, -50%);
                margin-top: 0;
                border: none !important;
            }

            .open .fa {
                margin-top: 0;
                right: 52*$px;
                left: auto;
                animation: phfaanimation .2s ease-out forwards;

            }
        }




        .menu-bottom-wap {
            background: #202020;
            padding :  0;

            &:before {
                // content: none;
                left:0;
                right: 0;
            }

            .seach-wap {
                display: none;
            }

            .item-link {
                font-size: 36*$px;
                line-height: 56*$px;
                padding:16*$px 0;

                &+.item-link {
                    &:before {
                        
                        top:0*$px; 
                        bottom:0*$px;
                        height: auto;
 

                    }
                }
            }

        }
    }

    .len {
        .left-nav-bar {
            .link, a {
                font-size: 38*$px;
                padding: 0 48*$px;

            }

            a {
                font-size: 32*$px;
            }
        }
    }
}

@keyframes phfaanimation {
    0% {

        transform: translate(0, -50%) rotate(0deg);
    }

    100% {
        transform: translate(0, -50%) rotate(90deg);
    }
}