.left-nav-bar {

    padding: 8*$px 0;

    li {
        position: relative;

        &+li {
            margin-top: 1px;

            &:after {
                content: "";
                position: absolute;
                top: -1px;
                left: 16*$px;
                right: 36*$px;
                height: 1px;
                background: #333;
            }
        }

    }

    .left-nav-bar-sub li:after {
        background: #232325;
    }

    .open {
        .left-nav-bar-sub {
            display: block;
            // background: #000c17;
            background: #333;
        }

        .link {
            color: $menu-sel;
        }

        .fa {
            margin-top: -8*$px;
            border-width: 8*$px 0 8*$px 10*$px;
            left: 18*$px;
            animation: faanimation .2s ease-out forwards;
        }

        .link:hover .fa {
            border-color: transparent transparent transparent $menu-sel;
        }

    }

    .link, a {
        display: block;
        padding: 0 36*$px 0 50*$px;
        line-height: 60*$px;
        color: #fff;
        font-size: 18*$px;
        cursor: pointer;

        &:hover {
            color: $menu-sel;
        }
    }


    .sel, .sel:hover {
        background: $menu-sel-bg;
        color: #fff;
    }

    .link {
        position: relative;
        transition: .1s all;

        &:hover {
            .fa {
                border-color: $menu-sel transparent transparent;
            }
        }

    }

    .fa {
        position: absolute;
        left: 20*$px;
        top: 50%;
        display: block;
        margin-top: -5*$px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10*$px 8*$px 0;
        border-color: #fff transparent transparent;
        transform-origin: center;
    }

}

.left-nav-bar-sub {
    display: none;
}

.len {
    .left-nav-bar {
        .link, a {
            font-size: 14px;
            padding: 0 20*$px 0 32*$px;
            white-space: nowrap;
        }

        a {
            font-size: 13*$px;
        }

        .fa {
            border-width: 6*$px 4*$px 0;
            margin-top: -3px;

        }

        .open {
            .fa {
                margin-top: -4*$px;
                border-width: 4*$px 0 4*$px 6*$px;
                animation: sfaanimation .2s ease-out forwards;
            }
        }
    }
}

@keyframes faanimation {
    0% {
        left: 20*$px;
        margin-top: -5*$px;
        border-color: $menu-sel transparent transparent;
        border-width: 10*$px 8*$px 0;
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-60deg);
    }

    100% {
        left: 20*$px;
        margin-top: -5*$px;
        border-color: $menu-sel transparent transparent;
        border-width: 10*$px 8*$px 0;
        transform: rotate(-90deg);
    }
}

@keyframes sfaanimation {
    0% {
        left: 20*$px;
        margin-top: -3*$px;
        border-color: $menu-sel transparent transparent;
        border-width: 6*$px 4*$px 0;
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-60deg);
    }

    100% {
        left: 20*$px;
        margin-top: -3*$px;
        border-color: $menu-sel transparent transparent;
        border-width: 6*$px 4*$px 0;
        transform: rotate(-90deg);
    }
}