.left-nav-bar {

    padding: 8*$px 0;

    .open {
        .left-nav-bar-sub {
            display: block;
            background: #000c17;
        }

        .link {
            color: $menu-sel;
        }

        .fa {
            margin-top: -8*$px;
            border-width: 8*$px 0 8*$px 10*$px;
            left: 18*$px;
            border-color: transparent transparent transparent $menu-sel;
            animation: faanimation .2s ease-out forwards;
        }

        .link:hover .fa {
            margin-top: -8*$px;
            border-color: transparent transparent transparent $menu-sel;
            border-width: 8*$px 0 8*$px 10*$px;
        }
    }

    .link, a {
        display: block;
        padding: 0 50*$px;
        line-height: 60*$px;
        color: #fff;
        font-size: 18*$px;
        cursor: pointer;

        &:hover {
            color: $menu-sel;
        }
    }


    .sel, .sel:hover {
        background: $menu-sel-bg;
        color: #fff;
    }

    .link {
        position: relative;
        transition: .1s all;

        &:hover {
            .fa {
                border-color: $menu-sel transparent transparent;
            }
        }

    }

    .fa {
        position: absolute;
        left: 20*$px;
        top: 50%;
        display: block;
        margin-top: -5*$px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10*$px 8*$px 0;
        border-color: #fff transparent transparent;
        transform-origin: center;
    }

}

.left-nav-bar-sub {
    display: none;
}

@keyframes faanimation {
    0% {
        left: 20*$px;
        margin-top: -5*$px;
        border-color: $menu-sel transparent transparent;
        border-width: 10*$px 8*$px 0;
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-60deg);
    }

    100% {
        left: 20*$px;
        margin-top: -5*$px;
        border-color: $menu-sel transparent transparent;
        border-width: 10*$px 8*$px 0;
        transform: rotate(-90deg);
    }
}