.menuslide {
    position: fixed;
    width: $menu-width;
    height: 100%;
    background: #232325;
    overflow: hidden;

    .logo-wap {
        display: block;
        height: 120*$px;
        background: url(../images/Logo_Gicren_CN.png) center no-repeat $theme-darken;
    }

}
.len {
    .menuslide  .logo-wap {
        background-image:url(../images/Logo_Gicren_EN.png);
    }
}

.menuslide .logo-wap, .menu-wap,.menuslide  .menu-bottom-wap {
    position: absolute;
    left: 0;
    right: 0;
}

.menu-wap {
    top: 125*$px;
    bottom: 91*$px;
    right: -20*$px;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-bottom-wap {
    position: absolute;
    bottom: 0;
    padding:5*$px 0 0; 
    &:before {
        position: absolute;
        top: 0; 
        left: 8*$px;
        right: 8*$px;
        content: "";
        background: #3a3a3a;
        height: 1px;

    }
    .menu-bottom-text{
        color:#eee;
        padding-top:4px;
        font-size: 12*$px; 
        text-align: center;
    }
}

.menu-bottom-links {
    @include clearspace();

    .item-link {
        position: relative;
        @include inline-block;
        width: 33%;
        color: #fff;
        font-size: 14*$px;
        line-height:28*$px;
        text-align: center;
        cursor: pointer;
        padding: 0;
        letter-spacing:1px;
        &:hover {
            color: $theme;
        }
        word-spacing:4*$px;
        &+.item-link {
            &:before {
                position: absolute;
                content: "";
                left: -1px;
                top: 25%;
                height: 50%; 
                width: 2px; 
                background: #3a3a3a;

            }
        }
    }

}

.menu-bottom-wap .seach-wap {
    position: relative;
    border-radius: 32*$px;
    margin: 4*$px 10*$px 0 8*$px ;
    height: 24*$px;
    background: #333;
    padding:2*$px 50*$px 2*$px 12*$px; 
    &:hover {
        background: #3a3a3a; 
    }

    .btn-search {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 18*$px;
        width: 16*$px;
        height: 16*$px;
        padding: 5*$px 12*$px 3*$px;
        cursor: pointer;
        overflow: hidden; 
        &:after {
            content: "";
            display: block;
            color: #fff;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAxNCI+CiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEzLjggMTMuOGMtLjMuMy0uNy4zLTEgMGwtMy40LTMuNGMtMi4zIDEuOC01LjYgMS42LTcuNy0uNUMtLjYgNy42LS42IDQgMS43IDEuN3M1LjktMi4zIDguMiAwYzIuMSAyLjEgMi4yIDUuNC41IDcuNmwzLjQgMy40Yy4zLjQuMy44IDAgMS4xek04LjkgMi43QzcuMiAxIDQuNSAxIDIuOCAyLjdzLTEuNyA0LjQgMCA2LjJjMS43IDEuNyA0LjQgMS43IDYuMSAwIDEuNi0xLjcgMS42LTQuNSAwLTYuMnoiLz4KPC9zdmc+Cg==);
            width: 16*$px;
            height:16*$px;
            background-size: 16*$px 16*$px;
        }

        &:hover:after {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAxNCI+CiAgPHBhdGggZmlsbD0iIzAwYmUwNiIgZD0iTTEzLjggMTMuOGMtLjMuMy0uNy4zLTEgMGwtMy40LTMuNGMtMi4zIDEuOC01LjYgMS42LTcuNy0uNUMtLjYgNy42LS42IDQgMS43IDEuN3M1LjktMi4zIDguMiAwYzIuMSAyLjEgMi4yIDUuNC41IDcuNmwzLjQgMy40Yy4zLjQuMy44IDAgMS4xek04LjkgMi43QzcuMiAxIDQuNSAxIDIuOCAyLjdzLTEuNyA0LjQgMCA2LjJjMS43IDEuNyA0LjQgMS43IDYuMSAwIDEuNi0xLjcgMS42LTQuNSAwLTYuMnoiLz4KPC9zdmc+Cg==);
        }
    }

    
}
.seach-wap{ 
    .seach-input {
        background: transparent;
        outline: none;
        border: none;
        font-size: 16*$px;
        line-height: 24*$px;
        height: 24*$px;
        width: 100%;
        color: #fff;

    } 
}